*{
    margin: 0;
    padding: 0;
}
#wrap {
    padding: 10px;
    margin: 0 auto;
    width: 1000px;
    border: 1px solid darkgray;
    
}
#wrap .content {
    background-color: rgb(133, 199, 58);
    color: black;
    padding: 30px 10px;
    white-space: normal;
    
}
