*{
    margin: 0; padding: 0;
}
#wrap { width: 1000px;
    margin: 0 auto;
    border: 1px solid darkgray;
    
}
#wrap #header h1 {
    background-color: rgb(237, 229, 8);
    text-align: center;
    height: 200px;
}
#section {
    background-color: rgb(98, 252, 8);
    height: 300px;
    text-align: center;
    }
#footer {
    background-color: rgb(255, 108, 108);
    height: 100px;
    text-align: center;
}    