*{
    margin: 0;padding: 0;
}
#wrap {
    
    border: 1px solid darkgray;
    margin: 0 auto;
    }
#wrap #header {
    height: 120px;
    text-align: center;
}

#wrap .nav ul {
    overflow: hidden;
}
#wrap .nav ul li {
    list-style: none;
    float: left;
    width: 20%;
    border: 1px solid darkgray;
    box-sizing: border-box;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#section {
    padding: 5px;
}
#section hr {
    margin: 0 5px 0 5px;
}
#section p {
    margin: 5px;
}
#footer {
    height: 100px;
    border: 1px solid darkgray;
    text-align: center;
    line-height: 100px;
}    