:root {
  --primary: skyblue;
  --seconday: black;
  --positive: yellowgreen;
  --negative: crimson;
  --big: 50px;
  --medium: 30px;
  --small: 14px;
}
/* 전역변수 */
.btn {
  border: none;
  padding: 5px 20px;
  background-color: gray;
  border-radius: 5px;
  color: #fff;
}
.primary {
  background-color: var(--primary);
}
.secondary {
  background-color: var(--seconday);
}
.positive {
  background-color: var(--positive);
}
.negative {
  background-color: var(--negative);
}
.container h1 {
  font-size: var(--big);
}
.container h3 {
  font-size: var(--medium);
}
.container p {
  font-size: var(--small);
}