body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.tab-inner {
  /* border: 1px solid red; */
  width: 300px;
  height: 350px;
  position: relative;
}

input[name=tabmenu] {
  display: none;
}
.slide {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;
}
.slide .slide_inner {
  width: 900px;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
}
/* 이미지 사이의 마진은 font-size=0으로 없앤다 */
.btn {
  text-align: center;
  padding-top: 15px;
}
.btn label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color:lightgray;
  border-radius: 50%;
  cursor: pointer;
}
input[id=tab1]:checked ~ .slide .slide_inner{
  left: 0;
  transition: 0.5s;
}
input[id=tab2]:checked ~ .slide .slide_inner{
  left: -300px;
  transition: 0.5s;
}
input[id=tab3]:checked ~ .slide .slide_inner{
  left: -600px;
  transition: 0.5s;
}
input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
  background-color: crimson;
}
