@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
* {
  margin: 0;
  padding: 0;
}
header {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.lnb-inner, .gnb-inner {
  transition: 0.3s;
}
header.active .lnb-inner {
  height: 0;
  overflow: hidden;
}
header.active .gnb-inner {
  background-color: white;
  color: black;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.186);

}
.lnb-inner {
  height: 40px;
  background-color: crimson;
}
.gnb-inner {
  height: 80px;
  background-color: black;
  
}
section {}
section p {
  font-size: 3em;
  line-height: 2em;
}
.btn-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 30px;
  color: white;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.3s;
}
.btn-top.active {
  transform: translateY(0);
  opacity: 1;
}