* {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
  background-color: #fff;
  width: 800px;
  height: 400px;
  border-radius: 10px;
  padding: 20px;
}
.container h1 {
  margin-bottom: 30px;
}
.container .pic img {
  width: 100px;
  filter: grayscale(1);
  margin: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.container .pic img.active {
  width: 100px;
  border-radius: 50%;
  filter: grayscale(0);
}
.content .text {
  display: none;
}
.content .text.active {
  display: block;
}
.content .text p:nth-child(2) {
  margin-top: 30px;
  font-weight: bold;
}
