@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.sns {
  background-color: rgba(169, 169, 169, 0.535);
  padding: 40px;
  border-radius: 10px;
}
.sns a {
  border: 5px solid white;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 80px;
  font-size: 40px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
.sns a:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: inherit;
  background-color: blue;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.sns a:hover:before {
  width: inherit;
}
.sns a:nth-child(1):before {
  background-color: #3b5999;
}
.sns a:nth-child(2):before {
  background-color: #55acee;
}
.sns a:nth-child(3):before {
  background-color: #dd4b39;
}
.sns a:nth-child(4):before {
  background-color: #0077b5;
}
.sns a:nth-child(5):before {
  background-color: #e4405f;
}
.sns a .fab {
  position: relative;
  transition: 0.5s;
}
.sns a:hover .fab {
  transform: rotateY(360deg);
  color: #fff;
}